<!-- BEGIN: Main Menu-->

<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active"><a href="#"><i class="la la-home"></i><span class="menu-title" data-i18n="Dashboard">Slimer Dashboard</span></a>
            </li>
            <li class=" navigation-header"><span data-i18n="Professional">Gestion du Site Web</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Professional"></i>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-edit"></i><span class="menu-title" data-i18n="articles">Articles</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span>Tous les articles</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Ajouter</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Catégories</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Etiquettes</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-photo"></i><span class="menu-title" data-i18n="medias">Médias</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span>Médiathèque</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Ajouter</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-paperclip"></i><span class="menu-title" data-i18n="pages">Pages</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span>Toutes les pages</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Ajouter</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-comments"></i><span class="menu-title" data-i18n="comments">Commentaires</span></a></li>
            <li class=" nav-item"><a href="#"><i class="la la-bar-chart"></i><span class="menu-title" data-i18n="appearence">Apparence</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span>Menus</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Personnaliser</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-gear"></i><span class="menu-title" data-i18n="tools">Outils</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="import">Importer</span></a>
                    </li>
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="export">Exporter</span></a>
                    </li>
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="health">Santé du site</span></a>
                    </li>
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="export-data">Exporter les données</span></a>
                    </li>
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="delete-data">Effacer les données</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-archive"></i><span class="menu-title" data-i18n="articles">Réglages</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#"><i></i><span>Tous les articles</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Ajouter</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Catégories</span></a></li>
                    <li><a class="menu-item" href="#"><i></i><span>Etiquettes</span></a></li>
                </ul>
            </li>
            <li class=" navigation-header"><span data-i18n="administration">Administration</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="administration"></i>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-home"></i><span class="menu-title" data-i18n="Calendar">Tableau de bord</span></a>
                <ul class="menu-content">
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Dashboard 1</span ></a></li>
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Dashboard 2</span ></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-calendar"></i><span class="menu-title" data-i18n="Calendar">Region</span></a>
                <ul class="menu-content">
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Toutes les régions</span ></a></li>
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Ajouter</span ></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-envelope"></i><span class="menu-title" data-i18n="Inbox">Les ONG Membres</span></a>
                <ul class="menu-content">
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Toutes les ONG Membres</span ></a></li>
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Ajouter</span ></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-comments"></i><span class="menu-title" data-i18n="Chat">Les thématiques</span></a>
                <ul class="menu-content">
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Toutes les thématiques</span ></a></li>
                    <li><a href="" class="menu-item"><i></i><span data-i18n="">Ajouter</span ></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-file-text"></i><span class="menu-title" data-i18n="Kanban">Kanban</span></a>
            </li>

        </ul>
    </div>
</div>

<!-- END: Main Menu-->
