<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Union des ONG du Togo</h3>
        <p class="footer-links">
            <a href="#">Accueil</a>
            <a href="#">Annonces</a>
            <a href="#">Nos Membres</a>
            <a href="#">Nos Membres</a>
            <a href="#">Actualités</a>
        </p>
        <p class="footer-company-name">Copyright &copy; 2023 <strong>U.ONG.TO</strong> Tous droits réservés</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa-solid fa-location-dot"></i>
            <p>Lomé, Bretelle<span>Bè-Klikamé</span> (en face de l’entrée du Relais de la Caisse)</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>(228) 70 41 87 85 </p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p>uongto_2000@yahoo.fr</p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>A propos de U.ONG.TO</span>
            <strong>La faitière des ONG:</strong>
            Centrale d’ONG à but non lucratif  N°376/ MID-SG-APA-PC et N°710/MPAT/DGPD/DPRAT/DPDLP-NG
        </p>
        <div class="footer-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <p class="copy"> </p>
</footer>

