<header>
    <h1 ><a href="#" class="logo">U.ONG.TO</a></h1>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menu</label>

    <nav id="main-navigation" class="navbar">
        <ul class="menu-item">
            <li><a href="#">Accueil</a></li>
            <li>
                <a href="#">Actualités & Evènements <i class="fas fa-angle-right"></i></i></a>
                <ul>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Annonces</a></li>
                    <li><a href="#">Appels d'offres</a></li>
                    <li><a href="#">Evènements à venir</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </li>
            <li class="menu-item has-sub-menu">
                <a href="#">A propos <i class="fas fa-angle-right"></i></a>
                <ul>
                    <li><a href="#">Qui sommes nous</a></li>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Mot du DE</a></li>
                    <li><a href="#">Mot du PCA</a></li>
                    <li><a href="#">Qui est Qui</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </li>
            <li class="menu-item has-sub-menu">
                <a href="#">Membres et Partenaires <i class="fas fa-angle-right"></i></a>
                <ul>
                    <li><a href="#">Nos Membres</a></li>
                    <li><a href="#">Devenir Membres</a></li>
                    <li><a href="#">Nos Partenaires</a></li>
                    <li><a href="#">Nos Réseaux</a></li>
                    <li><a href="#">Cartographie</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Publications <i class="fas fa-angle-right"></i></a>
                <ul>
                    <li><a href="#">Publications de UONGTO</a></li>
                    <li><a href="#">Publications des partenaires</a></li>
                    <li><a href="#">Publications des membres</a></li>
                    <li><a href="#">Publication des autres</a></li>
                    <li><a href="#">Publications du gouvernement</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Financement de la santé</a>
            </li>
        </ul>
    </nav>
</header>


